@model MyFirstCrudApplication.Models.Employee
@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center text-primary">Add Employee</h1>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Create">
                    <br />
                        <div class="form-group">
                            <label asp-for="Employee_Name"></label>
                            <input type="text" asp-for="Employee_Name" class="form-control" placeholder="Enter employee name" />
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="Employee_PhoneNumber"></label>
                            <input type="text" asp-for="Employee_PhoneNumber" class="form-control" placeholder="Enter employee Number" />
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="Employee_Email"></label>
                            <input type="text" asp-for="Employee_Email" class="form-control" placeholder="Enter employee email" />
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="Hire_Date"></label>
                            <input type="text" asp-for="Hire_Date" class="form-control" placeholder="Enter employee hire date" />
                        </div><br />
                        <div class="form-group">
                            <label asp-for="Status"></label>
                            <input type="text" asp-for="Status" class="form-control" placeholder="Enter employee status" />
                        </div><br />
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input type="text" asp-for="Title" class="form-control" placeholder="Enter employee title" />
                        </div><br />
                        <div class="form-group">
                            <input type="submit" value="submit" class="btn btn-sm btn-outline-success float-right"/>
                        </div>
                </form>

            </div>

        </div>

    </div>

</div>
</div>

